@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    background-color : #FAFAFA;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 85px;
}
.main-card-login{
    height: 100%;
}
.login-card{
    background-color:#FFFFFF;
    border:1px solid rgb(212, 211, 211);
    margin-left: 20px;
    margin-top: 60px;
    height: 50%;
}
.login-card-header-image{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.login-card-form{
    padding-left: 30px;
    padding-right: 20px;
}
input[type="text"],
input[type="password"]{
    display: flex;
    flex-direction: column;
    flex-wrap: center;
    align-items: center;
    align-content: center;
    background-color: #FAFAFA;
    border:1px solid rgb(212, 211, 211);
    width: 90%;
    font-size: 13px;
    font-weight: lighter;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    margin-right: 20px;
}

.login-form-button{
    background-color: #0095F6;
    color: #FFF;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    font-size: 14px;
    padding: 0.5em;
    width: 95%;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}
.login-or-first-separation,
.login-or-last-separation{
    width:40%;
    border: 1px solid #DBDBDB;
}
.login-or{
    margin-top: 20px;
    color: #8E8E8E;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.login-with-facebook{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
    font-family: sans-serif;
    color: #385185;
    font-size: 14px;
    font-weight: 550;
}
.facebook-icon{
    font-size: 15px;
}

.forgot-password{
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #00376B;
    margin-top: -5px;
    margin-bottom: 10px;
}

.forgot-password a{
    color: #00376B;
    text-decoration: none;
}

.login-card-footer{
    background-color:#FFFFFF;
    border:1px solid rgb(212, 211, 211);
    padding: 1.5em;
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.login-card-footer span a{
    font-weight: 500;
    color: #0095F6;
    text-decoration: none;
}

.download-app{
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.download-app-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-app-buttons img{
    margin-left: 5px;
}

@media only screen and (max-width: 1150px){
    .main-image {
        display: none;
    }
}